@import "~bootstrap/scss/bootstrap";

.container {
  max-width: 960px;
}
.my-alert-top {
  position: fixed;
  top: 5px;
  width: 80%;
  z-index: 99;
}
.promo-card {
  border-width: 2px !important;
  border-color: #198754 !important;
}
.promo-card::after {
  position: absolute;
  content: attr(data-label);
  font-size: 0.75em;
  top: -15px;
  right: -5px;
  background-color: #198754;
  z-index: 12;
  padding: 0.35em 0.65em;
  border-radius: 0.25rem;
  color: #fff;
}
